#content {
	margin-top: 2em;
	font-family: 'Segoe UI', 'Open Sans', sans-serif;
}

a.nav-link {
	border-bottom: 1px rgba(0,0,0,0) solid;
}
a.nav-link:hover {
	color: #fff !important;
	border-bottom: 1px #fff solid;
}

a.nav-link:focus {
	color: #fff !important;
}

.bg-primary .navbar-nav .active>.nav-link { 
	color: #fff !important;
	border-bottom: 1px #fff solid;
}

hr { 
	border-color: #375a7f;
}

.embed-responsive, #content img.full-width {
	border-radius: 0.5rem;
	min-width: 100%;
	max-width: 100%;
}

#register-instructions h3 {
}

.font-alternative {
	font-family: 'Segoe UI Light', 'Open Sans', sans-serif;
}

code {
	word-wrap: break-word;
}

.navbar img {
	vertical-align: top;
}

.navbar-brand {
	font-weight: bold;
}

.brand-text {
	font-size: 1.875rem;
	font-weight: bold;
	vertical-align: middle;
}

.btn-default {
	background-color: #dddddd;
}

