body { 
	color: rgba(255, 255, 255, 0.8); 
	font-family: 'Segoe UI', sans-serif; 
	font-weight: bold;
	font-size: 32pt;
	margin-left: 50px;
}

.following {
	position: absolute;
	margin-left: -37px;
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
}

#speakers .speaker {
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
	padding: 0 10px;
}