extends layout.pug

block meta
	- let desc = 'Find the help you need to get DiscordOverlay working perfectly.'
	meta(property='og:title' content='DiscordOverlay::Help')
	meta(property='og:type' content='website')
	meta(property='og:image' content='/resources/image/overlay_speaker_green_small.png')
	meta(property='og:description' content=desc)
	meta(property='og:url' content=hostname + currentPage)

block title
	title DiscordOverlay::Help

block content
	.col-md-12
		h3 Coming Soon&trade;