doctype html
html
	head
		block title
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		block meta
		link(rel='icon' href='/resources/image/favicon.png')
		link(rel='stylesheet' href='/resources/css/bootstrap.min.css')
		link(rel='stylesheet' href='/resources/css/layout.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400')
		//link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb' crossorigin='anonymous')
		script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js' integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb' crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js' integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn' crossorigin='anonymous')
		script(src='/resources/script/layout.js')
		block scriptIncludes
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
			.container
				a.navbar-brand(href='../') DiscordOverlay
				button.navbar-toggler(type='button', data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-icon
				.collapse.navbar-collapse#navbarResponsive
					ul.navbar-nav.mr-auto
						each page in pages
							if page.title == currentPage
								li.nav-item.active
									a.nav-link(href=page.href) #{page.name}
							else
								li.nav-item
									a.nav-link(href=page.href) #{page.name}
					ul.nav.navbar-nav.ml-auto
						li.nav-item
							a.nav-link(href='#') Where's my overlay?
		.container#content
			block modal
			.row
				block content
				.col-md-12
					hr
		footer
			p.mb-0.text-muted.text-center Developed by #[strong RaidMax]
			p.text-center(style='color: rgba(255, 255, 255, 0.1);') This website and provided service(s) are not endorsed or created by Discord.