html
	head
		link(rel='stylesheet' href='/resources/css/overlay.css')
		script(src='/resources/script/overlay.js')
	body
		#speakers
		script setInterval(function() { loadSpeakers('#{memberid}'); }, 500);
