extends layout.pug

block scriptIncludes
	script(src='/resources/script/register.js')
	
block modal
	.modal.fade#register-modal(tabindex='-1' role='dialog' aria-labelledby='register-modal-label' aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				//.modal-header
					h5.modal-title#register-modal-label Registration Result
					button(type='button' class='close' data-dismiss='modal' aria-label='Close')
						span(aria-hidden='true') &times; 
				.modal-body
					.alert.mb-0
				.modal-footer
					button.btn#registrationModalButton(data-dismiss='modal') button

block title
	title DiscordOverlay::Get Started

block content
	.col-md-12
		h3.text-success Let's get you started with DiscordOverlay!
		p First thing's first, we need to add our bot to your #[a(href='https://discordapp.com' target='_blank') Discord Guild].
			.row
				.col-md-2
					a(href='https://discordapp.com/oauth2/authorize?&client_id=234879671580360734&scope=bot' target='_blank')
						button.btn.btn-lg.btn-block.btn-success Authorize Now!
		p Next you need to find your #[a(href='https://support.discordapp.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-' target='_blank') User ID]. #[br] Finally, register to get your overlay link!
		p.text-muted Remember, you must have the #[strong Manage Server] permission to invite DiscordOverlay.
		hr
	.col-md-6
		h4.font-alternative.mb-3 #[span.text-success 1 &mdash;] Authorize DiscordOverlay
		img.img-fluid.mb-3(src='/resources/image/register_1.jpg')
	.col-md-6
		h4.font-alternative.mb-3 #[span.text-success 2 &mdash;] Find your User ID
		.embed-responsive.embed-responsive-4by3.mb-3
			video.embed-responsive-item(autoplay loop poster='/resources/image/register_2_poster.png')
				source(src='/resources/video/register_getid.webm' type='video/mp4')
		
	.col-md-12
		//hr
	.col-md-12
		#register-instructions
			h4.font-alternative.mb-3 #[span.text-success 3 &mdash;] Register
		.row
			.col-md-4
				form#register-form
					input.form-control.mb-3#register-user-id(placeholder='Enter User ID')
					input.form-control.mb-3#register-email(placeholder='Enter Email Addres')
					button.btn.btn-lg.btn-block.btn-success#register-button(data-toggle='modal' data-target='#register-modal') Register
			